<h1>Stupid Coaching</h1>

<form action="/answer" id="form">
  <input type="text" name="question" id="search" placeholder="Ask your coach anything">
  <input type="submit" value="Ask!" id="button">
</form>
